<div
  *ngIf="alert"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  <strong>Deleted !</strong> Your data is Deleted.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h1> Restaurant Listing</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Operation</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.email}}</td>
        <td><i (click)="deleteResto(item.id)" class="fa fa-trash" title="Delete" style="font-size:20px; margin-right: 10px; cursor: pointer;"></i>
            <a routerLink="/update-resto/{{item.id}}"><i class="fa fa-edit" title="Update" style="font-size:20px;"></i></a></td>
      </tr>
    </tbody>
  </table>
